#player-cards-section,
#dealer-cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#winSection {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.card {
  margin: 1em;
  perspective: 1000px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  transition: all 1s ease;

  transform-style: preserve-3d;
}

.card-container img {
  width: 15em;
}

.card-front {
  grid-area: 1/1;
  transform: rotateY(180deg);
}

.card-back {
  grid-area: 1/1;
}

.youwin {
  font-size: 3em;
  color: red;
  font-weight: 900;
}

.display-none {
  display: none;
}
